/* mise en forme générale de la page */
header{
    background-color: rgba(97, 93, 250, 1);
    display: flow-root;
    flex-direction: row;
    height: 50px;
}

.navigation_button{
    display: flex;
    align-items: center;
    gap: 10px;
}

.navigation_button button{
    padding: 10px;
    border-radius: 8px;
    border: none;
    background-color: rgba(97, 93, 250, 1);
    color: white;
}

.navigation_button button:hover{
    background-color: #716efa;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

/* mise en forme de la liste de jeux */
.games-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

/* mise en forme des éléments de la liste de jeux */
.games-list .game {
    width: 20%;
    margin-bottom: 20px;
    text-align: center;
}

.games-list .game img {
    max-width: 100%;
    height: auto;
}



