@charset "ISO-8859-1";

header{
    background-color: rgba(97, 93, 250, 1);
    display: flow-root;
    flex-direction: row;
    height: 50px;
}

.navigation_button{
    display: flex;
    align-items: center;
    gap: 10px;
}

.navigation_button button{
    padding: 10px;
    border-radius: 8px;
    border: none;
    background-color: rgba(97, 93, 250, 1);
    color: white;
}

.navigation_button button:hover{
    background-color: #716efa;
}

.textfield{
    margin: 11px 0px;
    border-radius: 8px;
    height: 35px;
    border: none;
    padding: 0px 10px;
}

.cadre_img{
	/*background-color: rgba(255, 0, 0);*/
	width : 500px ;
	height : 400px;
	text-align: center;
	display: table-cell;
  	float: left;
  	display:inline-block;
  	margin-left : 30px;
  	margin-top : 70px;
  	margin-right : 30px;
  	margin-bottom : 30px;
}

.image_jeu{
	max-width : 400px ;
	max-height : auto;
	margin_top : 100px;
}

.cadre_commentaire{
	/*background-color: rgba(0, 255, 0);*/
	float : left;
	width : 500px ;
	height : 500px;
	margin-top : 50px;
}
.commentaire{
	background-color: rgba(180, 252, 251);
	width : 450px;
	height : auto;
    border-radius: 15px;
    padding-left: 10px;
    float: left;
    margin-top: 10px;
}

.thumbs{
	width : 30px;
	height : 30px;
}

.thumbs_up_down_revue{
	/*background-color: rgba(0, 0, 255);*/
	float: right;
	margin-right: 15px;
	position: relative;
	top : -40px;
}

.nouveau_commentaire{
	/*background-color: rgba(0, 0, 255);*/
	margin-top: 50px;
	position: relative;
	text-align: center;
	left : -40px;
	width : 350px;
	height : 600px;
	float: right;
}

.titre_nouveau_commentaire{
	width : 250px;
	height : 40px;
	font-size: 15px;
    font-weight: bold;
	background-color: #E0FFFF;
}

.redaction_nouveau_commentaire{
	background-color: #E0EFEF;
	width : 300px;
	height : 300px;
	margin-top: 15px;
}

.sumbit_button{
	background-color: #B0B0FF;
	margin-top: 15px;
	text-align: center;
	justify-content: center;
	border-radius: 10px;
	border: none;
	font-size: 15px;
    font-weight: bold;
    padding: 15px 40px 15px 40px;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

.sumbit_button:hover {
	background-color: #8080FF;
}
